<% layout('/layouts/boilerplate') %>
<body>
    <h1>All listings:</h1>
    <form method="get" action="/listings/new">
        <button>create new listing</button>
    </form>
    <ul>
    <%for(listing of alllistings){%>
    <li><a href="/listings/<%=listing.id%>"><%=listing.title%></a></li>
    <%}%>
    </ul>
</body>
